<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	<link rel="stylesheet" href="style2.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Fash Institude</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="./axios.js"></script>
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-wide w3-white w3-padding w3-card-4">
        <a href="#home" class="w3-bar-item w3-button"
          ><b class="w3-purple">FI</b> Fash Institude</a
        >
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small" id="login">
          <button
            onclick="document.getElementById('LOGIN').style.display='block'"
            class="w3-button w3-purple w3-hover-purple w3-round-xxlarge"
          >
            <strong>Login/Signup</strong>
          </button>

          <div id="LOGIN" class="w3-modal">
            <div
              class="w3-modal-content w3-card-4 w3-animate-zoom"
              style="max-width:600px"
            >
              <div class="w3-center">
                <br />
                <span
                  onclick="document.getElementById('LOGIN').style.display='none'"
                  class="w3-button w3-xlarge w3-hover-red w3-display-topright"
                  title="Close"
                  >&times;</span
                >
                <img
                  src="me avatar.svg"
                  alt="Avatar"
                  style="width:30%"
                  class="w3-circle w3-margin-top"
                />
              </div>

              <div class="w3-container"  id="signinForm">
                <div class="w3-section">
                  <label><b>Username</b></label>
                  <input
                    class="w3-input w3-border w3-margin-bottom"
                    type="text"
                    placeholder="Enter Username"
                    name="usrname"
                    required
                    v-model="email"
                  />
                  <label><b>Password</b></label>
                  <input
                    class="w3-input w3-border"
                    type="password"
                    placeholder="Enter Password"
                    name="psw"
                    required
                    v-model="password"
                  />
                  <button
                    class="w3-button w3-block w3-purple w3-section w3-padding"
                    type="submit" v-on:click="login"
                  >
                    Login
                  </button>
                  <input
                    class="w3-check w3-margin-top"
                    type="checkbox"
                    checked="checked"
                    v-model="rememberMe"
                  />
                  Remember me
                </div>
              </div>

              <div
                class="w3-container w3-border-top w3-padding-16 w3-light-grey"
              >
                <button
                  onclick="document.getElementById('LOGIN').style.display='none'"
                  type="button"
                  class="w3-button w3-red"
                >
                  Cancel
                </button>
                <button
                  onclick="document.getElementById('ForgetPass').style.display='block'; document.getElementById('LOGIN').style.display='none'"
                  class="w3-button w3-purple w3-hover-purple w3-round-xxlarge"
                >
                  <strong>Forget Password</strong>
                </button>
                <button
                  onclick="document.getElementById('SIGNUP').style.display='block'; document.getElementById('LOGIN').style.display='none'"
                  class="w3-button w3-purple w3-hover-purple w3-round-xxlarge"
                >
                  <strong>Signup</strong>
                </button>
              </div>
            </div>
          </div>
          <!--forget password-->
          <div id="ForgetPass" class="w3-modal">
            <div
              class="w3-modal-content w3-card-4 w3-animate-zoom"
              style="max-width:600px"
            >
              <div class="w3-center">
                <br />
                <span
                  onclick="document.getElementById('ForgetPass').style.display='none'"
                  class="w3-button w3-xlarge w3-hover-red w3-display-topright"
                  title="Close"
                  >&times;</span
                >
                <img
                  src="me avatar.svg"
                  alt="Avatar"
                  style="width:30%"
                  class="w3-circle w3-margin-top"
                />
              </div>

              <div class="w3-container" >
                <div class="w3-section">
                  <label><b>Username</b></label>
                  <input
                    class="w3-input w3-border w3-margin-bottom"
                    type="text"
                    placeholder="Enter Username"
                    name="usrname"
                    required
                  />
                  <label><b>Email</b></label>
                  <input
                    class="w3-input w3-border"
                    type="email"
                    placeholder="Enter Email"
                    name="email"
                    required
                  />
                  <button
                    class="w3-button w3-block w3-purple w3-section w3-padding"
                    type="submit"
                  >
                    Recover Password
                  </button>
                </div>
              </div>
              <div
                class="w3-container w3-border-top w3-padding-16 w3-light-grey"
              >
                <button
                  onclick="document.getElementById('ForgetPass').style.display='none'"
                  type="button"
                  class="w3-button w3-red"
                >
                  Cancel
                </button>
                <button
                  onclick="document.getElementById('SIGNUP').style.display='block'; document.getElementById('ForgetPass').style.display='none'"
                  class="w3-button w3-purple w3-hover-purple w3-round-xxlarge"
                >
                  <strong>Signup</strong>
                </button>
              </div>
            </div>
          </div>
          <!--signup-->
          <div id="SIGNUP" class="w3-modal">
            <div
              class="w3-modal-content w3-card-4 w3-animate-zoom"
              style="max-width:600px"
            >
              <div class="w3-center">
                <br />
                <span
                  onclick="document.getElementById('SIGNUP').style.display='none'"
                  class="w3-button w3-xlarge w3-hover-red w3-display-topright"
                  title="Close"
                  >&times;</span
                >
                <img
                  src="me avatar.svg"
                  alt="Avatar"
                  style="width:15%"
                  class="w3-circle w3-margin-top"
                />
              </div>

              <div class="w3-container" id="myForm">
                <div class="w3-section">
                  <label><b>First name</b></label>
                  <input
                    class="w3-input w3-border w3-margin-bottom"
                    type="text"
                    placeholder="Enter your First name"
                    name="frstname"
                    required
                    v-model="firstName"
                  />
                  <label><b>Last name</b></label>
                  <input
                    class="w3-input w3-border w3-margin-bottom"
                    type="text"
                    placeholder="Enter your Last name"
                    name="lstname"
                    required
                    v-model="lastName"
                  />
                  <label><b>Username</b></label>
                  <input
                    class="w3-input w3-border w3-margin-bottom"
                    type="text"
                    placeholder="Enter Username"
                    name="usrname"
                    required
                    v-model="username"
                  />
                  <label><b>Email</b></label>
                  <input
                    class="w3-input w3-border w3-margin-bottom"
                    type="text"
                    placeholder="Enter valid Email"
                    name="email"
                    required
                    v-model="email"
                  />
                  <label><b>Password</b></label>
                  <input
                    class="w3-input w3-border"
                    type="password"
                    placeholder="Enter Password"
                    name="psw"
                    required
                    v-model="hashedPassword"
                  />
                  <label><b>Confirm Password</b></label>
                  <input
                    class="w3-input w3-border"
                    type="password"
                    placeholder="confirm Password"
                    name="conf_psw"
                    required
                    @input="checkpasswd" v-model="hashedPassword2"
                  />
                  <button v-if="!unmatchedPass"
                    class="w3-button w3-block w3-purple w3-section w3-padding"
                    type="submit" v-on:click="submit"
                  >
                    Signup
                  </button>
                  <button v-if="unmatchedPass" type="submit" class="w3-button w3-block w3-purple w3-section w3-padding">Sign Up</button>
                </div>
              </div>

              <div
                class="w3-container w3-border-top w3-padding-16 w3-light-grey"
              >
                <button
                  onclick="document.getElementById('SIGNUP').style.display='none'"
                  type="button"
                  class="w3-button w3-red"
                >
                  Cancel
                </button>
                <button
                  onclick="document.getElementById('LOGIN').style.display='block'; document.getElementById('SIGNUP').style.display='none'"
                  class="w3-button w3-purple w3-hover-purple w3-round-xxlarge"
                >
                  <strong>Login</strong>
                </button>
              </div>
            </div>
          </div>
          <!--end signup-->
          <a
            href="#workshops"
            class="w3-bar-item w3-button w3-round-xxlarge w3-hover-purple"
            ><strong>Workshops</strong></a
          >
          <a
            href="#about"
            class="w3-bar-item w3-button w3-round-xxlarge w3-hover-purple"
            ><strong>About</strong></a
          >
          <a
            href="#contact"
            class="w3-bar-item w3-button w3-round-xxlarge w3-hover-purple"
            ><strong>Contact</strong></a
          >
        </div>
      </div>
    </div>

    <!-- Header -->
    <header
      class="w3-display-container w3-content w3-wide w3-margin-top"
      style="max-width:1500px;"
      id="home"
    >
      <img
        class="w3-image"
        src="Heading LD.jpg"
        alt="Architecture"
        width="100%"
      />
      <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white w3-animate-opacity">
          <span class="w3-padding w3-purple"><b>FI</b></span>
          <span class="w3-hide-small w3-text-black">Fash Institude</span>
        </h1>
      </div>
    </header>

    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">
      <!-- Workshop Section -->
      <div class="w3-container w3-padding-32" id="workshops">
        <h3 class="w3-border-bottom w3-border-purple w3-padding-16">
          Workshops
        </h3>
      </div>

      <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <div class="w3-display-middle w3-display-hover w3-xlarge">
              <button class="w3-button w3-purple w3-round-xxlarge">
                Order
              </button>
            </div>
            <img
              src="Workshop sample HD.jpg"
              alt="workshop"
              style="width:100%"
            />
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <div class="w3-display-middle w3-display-hover w3-xlarge">
              <button class="w3-button w3-purple w3-round-xxlarge">
                Order
              </button>
            </div>
            <img
              src="Workshop sample HD.jpg"
              alt="workshop"
              style="width:100%"
            />
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <div class="w3-display-middle w3-display-hover w3-xlarge">
              <button class="w3-button w3-purple w3-round-xxlarge">
                Order
              </button>
            </div>
            <img
              src="Workshop sample HD.jpg"
              alt="workshop"
              style="width:100%"
            />
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <div class="w3-display-middle w3-display-hover w3-xlarge">
              <button class="w3-button w3-purple w3-round-xxlarge">
                Order
              </button>
            </div>
            <img
              src="Workshop sample HD.jpg"
              alt="workshop"
              style="width:100%"
            />
          </div>
        </div>
      </div>

      <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <div class="w3-display-middle w3-display-hover w3-xlarge">
              <button class="w3-button w3-purple w3-round-xxlarge">
                Order
              </button>
            </div>
            <img
              src="Workshop sample HD.jpg"
              alt="workshop"
              style="width:99%"
            />
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <div class="w3-display-middle w3-display-hover w3-xlarge">
              <button class="w3-button w3-purple w3-round-xxlarge">
                Order
              </button>
            </div>
            <img
              src="Workshop sample HD.jpg"
              alt="workshop"
              style="width:99%"
            />
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <div class="w3-display-middle w3-display-hover w3-xlarge">
              <button class="w3-button w3-purple w3-round-xxlarge">
                Order
              </button>
            </div>
            <img
              src="Workshop sample HD.jpg"
              alt="workshop"
              style="width:99%"
            />
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <div class="w3-display-middle w3-display-hover w3-xlarge">
              <button class="w3-button w3-purple w3-round-xxlarge">
                Order
              </button>
            </div>
            <img
              src="Workshop sample HD.jpg"
              alt="workshop"
              style="width:99%"
            />
          </div>
        </div>
      </div>

      <!-- About Section -->
      <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
          About
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>

      <div class="w3-row-padding w3-grayscale">
        <div class="w3-col l3 m6 w3-margin-bottom">
          <img src="hamzeh avatar.svg" alt="Hamzeh" style="width:100%" />
          <h3>Ali Hamzeh</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
          <p>
            <button class="w3-button w3-purple w3-block">Contact</button>
          </p>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <img src="hamzeh avatar.svg" alt="Hossein" style="width:100%" />
          <h3>Hossein Elahakbari</h3>
          <p class="w3-opacity">Backend</p>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
          <p>
            <button class="w3-button w3-purple w3-block">Contact</button>
          </p>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <img src="hamzeh avatar.svg" alt="Pouya" style="width:100%" />
          <h3>Pouya Fekri</h3>
          <p class="w3-opacity">Backend</p>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
          <p>
            <button class="w3-button w3-purple w3-block">Contact</button>
          </p>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <img src="hamzeh avatar.svg" alt="Saman" style="width:100%" />
          <h3>Saman shahhosseini</h3>
          <p class="w3-opacity">Frontend</p>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
          <p>
            <button class="w3-button w3-purple w3-block">Contact</button>
          </p>
        </div>
      </div>

      <!-- Contact Section -->
      <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-purple w3-padding-16">
          Contact
        </h3>
        <p>Lets get in touch and talk about your next project.</p>
        <form action="/action_page.php" target="_blank">
          <input
            class="w3-input w3-border"
            type="text"
            placeholder="Name"
            required
            name="Name"
          />
          <input
            class="w3-input w3-section w3-border"
            type="text"
            placeholder="Email"
            required
            name="Email"
          />
          <input
            class="w3-input w3-section w3-border"
            type="text"
            placeholder="Subject"
            required
            name="Subject"
          />
          <input
            class="w3-input w3-section w3-border"
            type="text"
            placeholder="Comment"
            required
            name="Comment"
          />
          <button class="w3-button w3-purple w3-section" type="submit">
            <i class="fa fa-paper-plane"></i> SEND MESSAGE
          </button>
        </form>
      </div>

      <!-- Image of institude location -->
      <div class="w3-container">
        <img src="Map.jpg" class="w3-image" style="width:100%" />
      </div>

      <!-- End page content -->
    </div>

    <!-- Footer -->
    <footer
      class="w3-center w3-purple w3-padding-16"
      style="border-radius: 245px 245px 0 0;"
    >
      <p>
        Powered by
        <a
          href="https://www.google.com"
          title="Fash Institude"
          target="_blank"
          class="w3-hover-text-black"
          >Fash Institude</a
        >
      </p>
    </footer>
    <script src="signin.js"></script>
    <script src="signup.js"></script>
  </body>
</html>
